* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
  color: #FFFFFF;
}
* a:visited {
  color: #FFFFFF;
}
* ul,
* ol li {
  list-style: none;
}
html,
body {
  height: 100%;
}
.swiper-container {
  height: 100%;
}
.first {
  height: 100%;
  background-image: url(../img/FpEu29mlX0kfX754Mrhc4xWSznYE.png);
  position: relative;
}
.first .top1 {
  position: absolute;
  top: 10.66666667vw;
  left: -5.33333333vw;
  width: 53.33333333vw;
}
.first .top2 {
  position: absolute;
  top: 4.8vw;
  right: -5.86666667vw;
  width: 62.4vw;
}
.first .top3 {
  position: absolute;
  top: 38.66666667vw;
  left: 10.4vw;
  width: 33.33333333vw;
}
.first .mid1 {
  position: absolute;
  top: 53.6vw;
  left: 9.33333333vw;
  width: 33.33333333vw;
}
.first .mid2 {
  position: absolute;
  top: 53.86666667vw;
  left: 42.66666667vw;
  width: 56vw;
}
.first .content {
  position: absolute;
  font-size: 4.8vw;
  font-weight: bold;
  color: #F1C238;
  top: 60.8vw;
  left: 50.66666667vw;
  width: 44.26666667vw;
}
.first .mid3 {
  position: absolute;
  top: 112.53333333vw;
  left: 4vw;
  width: 43.46666667vw;
}
.first .mid4 {
  position: absolute;
  top: 111.2vw;
  left: 49.33333333vw;
  width: 48vw;
}
.first .cont {
  position: absolute;
  width: 28.066667vw;
  height: 26vw;
  top: 116vw;
  left: 54.4vw;
  overflow: hidden;
}
.first .cont .mid5 {
  top: 111.2vw;
  left: 49.33333333vw;
  width: 48vw;
}
.arrbottom {
  position: absolute;
  left: 50%;
  bottom: 5.33333333vw;
  margin-right: 2.66666667vw;
  width: 5.33333333vw;
  height: 5.33333333vw;
  border-top: 2px solid #F1C238;
  border-left: 2px solid #F1C238;
  transform: rotate(45deg);
}
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 215.2vw;
}
@keyframes run {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#music {
  width: 10.66666667vw;
  height: 10.66666667vw;
  position: fixed;
  top: 5.33333333vw;
  right: 5.33333333vw;
  z-index: 999;
  animation: run 2s linear infinite;
}
.second {
  background-image: url(../img/bc.png);
  position: relative;
}
.second .top {
  text-align: center;
}
.second .top .one {
  width: 100vw;
  float: left;
  margin-bottom: 5.33333333vw;
}
.second .top .two {
  width: 100vw;
  float: left;
  margin-bottom: 5.33333333vw;
}
.second .top .three {
  width: 32.8vw;
  margin-bottom: 5.33333333vw;
}
.second .mid {
  text-align: center;
}
.second .mid .left .title {
  display: inline-block;
  line-height: 10.66666667vw;
  width: 53.33333333vw;
  background: #BF3824;
  font-size: 5.86666667vw;
  color: #FFFFFF;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
}
.second .mid .left .content {
  display: inline-block;
  line-height: 10.66666667vw;
  width: 53.33333333vw;
  font-size: 4.8vw;
  font-weight: 600;
  color: #333333;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
}
.second .mid .right .title {
  display: inline-block;
  line-height: 10.66666667vw;
  width: 53.33333333vw;
  background: #BF3824;
  font-size: 5.86666667vw;
  color: #FFFFFF;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
}
.second .mid .right .content {
  display: inline-block;
  line-height: 10.66666667vw;
  width: 53.33333333vw;
  font-size: 4.8vw;
  font-weight: 600;
  color: #333333;
  border-radius: 2.66666667vw;
  margin-bottom: 5.33333333vw;
}
.third {
  background-image: url(../img/bc.png);
}
.third .top {
  text-align: center;
}
.third .top .one {
  width: 99.2vw;
  margin-top: -24vw;
}
.third .top .two {
  width: 99.2vw;
  margin-bottom: 8vw;
}
.third .top .exp {
  display: inline-block;
  line-height: 10.66666667vw;
  width: 72vw;
  background: #0E4861;
  font-size: 5.86666667vw;
  color: #FFFFFF;
  border-radius: 2.66666667vw;
  margin-bottom: 13.33333333vw;
}
.third .bot {
  text-align: center;
}
.third .bot .display {
  display: inline-block;
  line-height: 16vw;
  width: 72vw;
  background: url(../img/box.png);
  background-size: contain;
  font-size: 5.86666667vw;
  color: #333333;
  margin-bottom: 5.33333333vw;
}
